

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size:15px;
  color: #3B3B3B;
  font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: #3b3b3b;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
}
p{
  font-size: 15px;
}
a,a:hover{
  text-decoration: underline;
  color:#7e4c4f;
}
input[type="search"] {
  padding: 10px;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
button[type="submit"] {
  padding: 11px;
  background: #7e4c4f;
  border: none;
  cursor: pointer;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
textarea{
  width: 100%;
}
#theme-sidebar .textwidget a,
#footer .textwidget a,
.comment-body a,
.entry-content a,
.entry-summary a,#main-content p a{
  text-decoration: underline;
  color: #7e4c4f;
}

/*--------------------------------------------------------------
Accessibility CSS
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #3B3B3B;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
  Pre Loader
--------------------------------------------------------------*/

.loader{
  background: #fff;
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
}
.center{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  border: 5px solid #3B3B3B;
  border-radius: 50%;
}
.center1{
  width: 200px;
  height: 200px;
  border-right-color: #7e4c4f;
  border-top-color: #7e4c4f;
  animation: animateCenter1 2s infinite linear;
}
.center2{
  width: 100px;
  height: 100px;
  border-right-color: #7e4c4f;
  border-top-color: #7e4c4f;
  animation: animateCenter2 2s infinite linear;
}
.ring{
  position: absolute;
  top: 0;
  right: 50%;
  transform-origin: bottom;
  transform: translateX(50%);
  width: 4px;
  height: 50%;
  background: transparent;
}
.center1 .ring{
  transform: translateX(50%) rotate(-45deg);
}
.center2 .ring{
  transform: translateX(50%) rotate(135deg);
}
.ring::before{
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.center1 .ring::before {
    background: #7e4c4f;
    box-shadow: #7e4c4f;
}
.center2 .ring::before{
  background: #7e4c4f;
  box-shadow: #7e4c4f;
}
@keyframes animateCenter1{
  0%{
    transform: translate(50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(50%,-50%) rotate(-360deg);
  }
}
@keyframes animateCenter2{
  0%{
    transform: translate(50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(50%,-50%) rotate(360deg);
  }
}

/*--------------------------------------------------------------
## Sticky
--------------------------------------------------------------*/

.stick_head {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  right: 0;
  background:#e6e6e6;
}
.innermenuboxupper.login-user.stick_head {
  margin-top: 32px;
}

/*--------------------------------------------------------------
  Header
--------------------------------------------------------------*/
.headerbox span a{
  color: #3b3b3b;
  font-size: 16px;
}
.header-details {
  display: flex;
  gap: 15px;
  text-align: center;
}
.header-details span a {
  font-size: 16px;
  color: #3b3b3b;
}
.header-details i {
  font-size: 18px;
  color: #7e4c4f;
  margin-left: 5px;
}
.top-header p{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}
.headerbox {
  padding: 20px 0px;
  border-bottom: 1px solid #3B3B3B;
}
.innermenuboxupper {
  border-bottom: 1px solid #3B3B3B;
}
.headerbox a {
  text-decoration: none;
  font-size: 16px;
  color: #3b3b3b !important;
}
span.cartbox {
  position: relative;
}
span.cart-value.simplep {
  position: absolute;
  top: -60%;
  background: #ee403d;
  padding: 0 5px;
  border-radius: 15px;
  font-size: 10px;
  color: #fff !important;
  right: -11px;
}
.gtranslate_wrapper {
  width: 100%;
  padding-left: 15px;
}
.chosen-container {
  width: 26% !important;
}
.chosen-container-single .chosen-single{
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  color: #272727 !important;
  font-weight: 700 !important;
}
.chosen-container .chosen-results li.active-result{
  text-align: right;
}
.chosen-container-single .chosen-single span {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 500;
}
.translate-btn {
  width: 23%;
  position: absolute;
  top: -22%;
}
.translate-btn select {
  width: 100%;
  border: 0px;
  background: transparent;
  color: #3B3B3B !important;
  font-size: 15px;
  font-weight: 500 !important;
}
#google_language_translator select.goog-te-combo{
  border: none !important;
  color: #3b3b3b !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
span.currency {
  display: inline-block;
}
.category-btn {
  background: #7e4c4f;
  border: none;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  padding: 15px 0px;
}
.category-btn i {
  font-size: 18px;
  margin-left: 15px;
  color: #fff;
}
.category-btn i.fas.fa-chevron-down {
  margin-right: 10px;
}
.category-dropdown {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 9999;
  list-style: none;
  box-shadow: 0 0 5px 0px #eee;
  height: 385px;
  overflow-y: scroll;
}
.category-dropdown li {
  border-bottom: solid 2px #f5f2f2;
  padding: 10px 0;
}
.category-dropdown li a{
  color: #3b3b3b;
  font-size: 15px;
  font-weight: 600;
  padding-right: 15px;
  display: inline-block;
}
.category-dropdown li a:hover{
  color: #7e4c4f;
}
.rtl-cl{
  text-align: right;
}
/* = scrollbar css
-------------------------------------- */
.category-dropdown::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #7e4c4f;
}
.category-dropdown::-webkit-scrollbar{
  width: 7px;
  background-color: #7e4c4f;
}
.category-dropdown::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #7e4c4f;
}

/* ------------------------------------ */

.topbar{
  background: #000000;
}
.topbar span {
  margin: 0px 0 0 14px;
}
.logo h1 {
  padding: 0;
  font-size: 20px;
  margin-bottom: 0;
}
.logo p {
  color: #000;
  font-weight: 400;
}
.logo-same-line h1 {
  font-size: 20px;
}
.logo h1 a {
  font-size: 25px;
}

/*--------------------------------------------------------------
Menu bar
--------------------------------------------------------------*/
nav#site-navigation ul li::focus ul.children {
  opacity: 1;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.25);
  background: #fff;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  list-style: none;
  margin: 0;
  padding-right: 0;
}
.main-navigation li{
  position: relative;
  padding: 0px;
  display: inline-block;
}
.main-navigation a{
  display: block;
  color: #3B3B3B;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  padding: 15px 20px !important;
}
.main-navigation ul ul{
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100% ;
  background: #3b3b3b;
  min-width: 215px;
  z-index: 9999;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 0;
}
.main-navigation ul ul a{
  color: #fff;
}
.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-bottom: 1px solid #cccccc;
  border-right: none;
  border-left: none !important;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  opacity: 1;
}
.main-navigation li.menu-item-has-children:hover > ul, .main-navigation li.menu-item-has-children:focus > ul, .main-navigation li.menu-item-has-children.focus > ul{
  opacity: 1;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation a:hover,.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a{
  color: #3B3B3B;
  padding: 15px 25px;

}
.main-navigation .menu > ul > li.highlight{
  background-color: #7e4c4f;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
.menubar.scrolled .menu > ul > li:hover > a:after,
.menubar.scrolled .menu > ul > li.current_page_item > a:after,
.menubar.scrolled .menu > ul > li.current-menu-item > a:after{
  height: 2px;
}
.menu > ul > li.exoplanet-search:after{
  background: transparent !important;
}
.main-navigation ul ul li:hover > a{
  color: #fff;
}
.toggle-nav, a.closebtn{
  display: none;
}
.main-navigation .sub-menu {
  list-style: none;
  padding-right: 0;
  opacity: 0;
  right: -9999px;
  z-index: 99999;
  width: 200px !important;
}
.main-navigation ul.children{
  opacity: 0;
}
.main-navigation ul li:not(.off-canvas):hover > ul.children,
.main-navigation ul li:not(.off-canvas)[focus-within] > ul.children,
.main-navigation ul li:not(.off-canvas):focus-within > ul.children  {
  opacity: 1;
}
.main-navigation .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
.main-navigation .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
.main-navigation .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,
.main-navigation .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menum,
.main-navigation .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu  {
  display: block;
  right: 0;
  margin-top: 0;
  opacity: 1;
  width: auto;
  min-width: 100%;
}
ul.sub-menu ul.sub-menu{ 
  right: 202px !important;
}
.main-navigation li.page_item_has_children:after,
.main-navigation li.menu-item-has-children:after{
  content: '\f078';
  position: absolute;
  left: 2px;
  top: 18px;
  font-size: 13px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #3B3B3B;
}
.main-navigation ul ul li.page_item_has_children:after, 
.main-navigation ul ul li.menu-item-has-children:after{
  color: #fff;
}
/*--------------------------------------------------------------
Search pop up
--------------------------------------------------------------*/

.product-search input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
}
.product-search input::placeholder {
    color: #000;
}
.product-search button[type="submit"]{
  background-color: transparent !important;
}
.product-search button {
    padding: 10px 15px;
    background: url(assets/images/search.png) no-repeat scroll 100% 3px;
    text-indent: -9999px;
    border: none;
    position: absolute;
    left: 25px;
    top: 13px;
}
/*--------------------------------------------------------------
Post Pages
--------------------------------------------------------------*/

.page-box {
  border: 3px solid #ebebeb;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: -3px 3px 0 0 #151515;
  border-bottom: 3px solid #7e4c4f;
  border-left: 3px solid #7e4c4f;
  text-align: center;
}
.box-image img,
.box-content img {
  width: 100%;
  height: auto;
}
#category-post .entry-video, #category-post .entry-audio{
  padding-bottom: 7px;
}
.external-div {
  position: relative;
  text-align: center;
  margin-top: 0;
  height: 500px;
  margin-bottom: 0;
  background: #000;
}
.external-div .box-image img{
  object-fit: cover;
  position: absolute;
  height: 500px;
  width: 100%;
  right: 0;
  left: 0;
  opacity: 0.5;
  background-size:cover;
}
.box-text{
  position: absolute;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  right: 30%;
  z-index: 99;
  text-align: center;
}
.box-text h2{
  color: #fff;
}
.box-info i {
  margin-left: 5px;
  color: #3B3B3B;
  font-size: 14px;
}
.box-info {
  padding: 5px 0;
}
.box-info span {
  margin-left: 10px;
  color: #3B3B3B;
  font-size: 12px;
}
.page-box p {
  color: #3B3B3B;
  font-size: 15px;
  margin: 15px 0;
}
.page-box h4 a {
  font-size: 25px;
}
.page-box h4 {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.page-box a,.nav-links a {
  text-decoration: none;
}
.readmore-btn a {
  border: 1px solid #7e4c4f;
  font-weight: 600;
  padding: 5px;
  letter-spacing: 1px;
  font-size: 15px;
  color: #7e4c4f
}
.readmore-btn a:hover{
  color: #3b3b3b;
  border: 1px solid #3b3b3b;
}

/*--------------------------------------------------------------
SLIDER
--------------------------------------------------------------*/

#slider{
  max-width:100%;
  margin:auto;
  padding:0;
  position: relative;
}
#slider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.7;
}
#slider .inner_carousel a{
  text-decoration: none;
}
#slider h6{
  color: #7e4c4f;
  margin-bottom: 18px;
}
#slider p {
  color: #000000;
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 24px;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  font-size: 18px;
  font-weight: 800;
  padding: 4px 10px;
  background: #7e4c4f;
  color: #fff;
  height: auto;
  margin: 14px;
  width: auto;
  border: 2px solid #7e4c4f;
}
#slider .carousel-control-prev-icon:hover, #slider .carousel-control-next-icon:hover{
  background: transparent;
  color: #3b3b3b;
}
#slider .carousel-control-next, #slider .carousel-control-prev {
  opacity: 1;
  width: auto;
  top: 94%;
  transform: translateY(-50%);
  z-index: 999;
}
#slider .carousel-control-next{
  right: 47%;
}
#slider .carousel-control-prev{
  right: 5%;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  padding: 0;

}
#slider .inner_carousel h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  padding-bottom: 4px;
}
.inner_carousel P {
  font-size: 40px;
  color: #000000;
}
.more-btn a {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  background: #000000;
  padding: 10px 15px;
  text-decoration: none;
}
.more-btn a:hover{
  background: #7e4c4f;
  color: #fff !important;
}

/*--------------------------------------------------------------
Product Section
--------------------------------------------------------------*/

#product .product-content h3 {
    font-size: 16px;
    font-weight: 600;
}
#product .product-content p, #product h6, #product h3 a {
  color: #3B3B3B;
  text-decoration: none;
}
#product h6{
  font-size: 20px;
  font-weight: 800;
}
#product .product-info {
  position: absolute;
  text-align: center;
  top: 8%;
  color: #fff;
  left: 0;
  right: 0;
}
#product .product-info h4 {
  color: #fff;
  font-size: 20px;
  padding: 0px 22px;
}
.product-image{
  position: relative;
}
#product .product-main-img img {
  height: 450px;
  object-fit: cover;
}
#product .more-btn a {
  background: transparent;
  border-bottom: 1px solid #fff;
}
.pro-cat a {
  color: #3B3B3B;
  text-decoration: none;
}
.product-box {
  border: 1px solid #8D8D8D;
  padding: 6px;
  position: relative;
}
.custom_product_meta {
  background: #7e4c4f;
  padding: 8px;
}
.pro-buttons {
  display: none;
}
.product-box:hover .pro-buttons {
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 95%;
  bottom: 0%;
}
.custom_product_meta a{
  color: #ffffff !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.star-rating:before {
  content: "\73\73\73\73\73";
  color: #D3CED2;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}
.star-rating span {
  overflow: hidden;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  right: 0;
}
#product .star-rating {
  color: #f8be1f;
  font-size: .857em;
  display: block;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
  font-size: 16px;
  margin-bottom: 14px;
}
#product .yith-wcwl-add-button a i {
  position: relative;
  padding: 14px;
  font-family: 'FontAwesome';
  color: #ffffff;
  border-radius: 0px;
  background: #000000;
  vertical-align: sub;
}
#product .yith-wcwl-add-button span {
    display: none;
}
#product .feedback {
  display: none;
}
#product  i.yith-wcwl-icon.fa.fa-heart {
  font-weight: 100;
}
#product .yith-wcwl-wishlistaddedbrowse a {
  font-size: 0;
  position: relative;
}
#product .yith-wcwl-wishlistexistsbrowse a{
  font-size: 0px;
  position: relative;
}
#product .inner_product:hover .yith-wcwl-wishlistexistsbrowse a:after{
  opacity: 1;
}
#product .inner_product:hover .yith-wcwl-wishlistaddedbrowse a:after{
  opacity: 1;
}
#product .yith-wcwl-wishlistaddedbrowse {
  display: flex;
}
#product a.added_to_cart.wc-forward {
  margin-right: 49px;
  padding: 10px !important;
}
#product .yith-wcwl-wishlistaddedbrowse a:after,#product .yith-wcwl-wishlistexistsbrowse a:after {
  content: '\f004';
  font-size: 16px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 1;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 12px 10px;
  color: #ffffff;
  background: #000000;
  top: 1px;
  position: relative;
  margin-left: 10px;
}
.page-template-front-page a.button.yith-wcqv-button:after{
  content: '\f06e';
  font-size: 16px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 10px 10px;
  color: #ffffff;
  background: #000000;
  margin-right: 10px;
  top: 1px;
  position: relative;
}
a.button.yith-wcqv-button {
  font-size: 0px;
}
#product .button .yith-wcqv-button a:after {
  content: '\f004';
  font-size: 16px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 1;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 10px 10px;
  color: #ffffff;
  background: #3B3B3B;
  top: 1px;
  position: relative;
}
#product a.added_to_cart.wc-forward {
  margin-right: 0px;
  display: block;
  text-align: center;
  margin-top: 16px;
}
#product .yith-wcwl-wishlistaddedbrowse {
  position: relative;
}
.yith-wcwl-add-to-wishlist{
  margin-top: 0px !important;
}
#product .inner_product:hover .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt{
  display: block;
}
#product i.fas.fa-shopping-basket{
  color: #fff;
  margin-right: 6px;
}
#product button.owl-prev i, #product button.owl-next i {
  font-size: 18px;
  font-weight: 800;
  padding: 6px 10px;
  color: #3b3b3b;
  height: auto;
  margin: 14px;
  width: auto;
  border: 2px solid #7e4c4f;
}
#product button.owl-prev:hover, #product button.owl-next:hover{
    background: transparent;
    color: #3b3b3b;
}
#product .owl-nav {
    position: absolute;
    left: auto;
    right: 0;
    top: -20%;
}
.owl-carousel .owl-item {
   float: right !important;
}
.owl-carousel .owl-wrapper-outer {
   direction: rtl !important;
}
.owl-stage-outer {
    direction: initial;
}
.sale-tag{
  position: absolute;
  color: #fff;
  top: 5px;
  right: 5px;
}
.sale-tag span.onsale{
  background: red;
  padding: 4px 15px;
}
span.onsale {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

/*--------------------------------------------------------------
WOOCOMMERCE CSS
--------------------------------------------------------------*/
.woocommerce-page .external-div{
  display: none;
}
.woocommerce nav.woocommerce-pagination ul li {
  border-left: none;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span{
  padding:15px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{
  background: #3B3B3B;
  color: #fff;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea{
  padding: 10px;
}
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 14px;
}
.woocommerce  .star-rating {
  margin: 0 auto 10px !important;
}
.woocommerce ul.products li.product .onsale,.woocommerce span.onsale{
  background: #7e4c4f;
  padding: 0;
  top: 25px !important;
  left: 25px !important;
}
.woocommerce span.onsale{
  right: 25px;
  left: auto !important;
}
.products li {
  text-align: center;
  box-shadow: 0 0 10px 4px #efefef;
  padding: 15px !important;
  border-radius: 0px;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #3b3b3b;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #3b3b3b;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.wc-block-cart__submit-container a,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #7e4c4f;
  color: #fff;
  padding: 15px;
  border-radius: 0;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  width: 50%;
}
.wc-block-cart__submit-container a:hover,.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #3B3B3B;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 4px;
  border-radius: 0;
  border: solid 2px #3b3b3b;
  color: #3b3b3b;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  border: solid 2px #3B3B3B;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: -2px 2px 0 0 #3B3B3B;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #3B3B3B;
  text-decoration: none;
}
span.woocommerce-input-wrapper,
.woocommerce label,span.password-input {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button{
  border: none !important;
}
.woocommerce #review_form #respond,.wc-block-checkout__form {
  padding: 20px;
}
.is-large.wc-block-cart .wc-block-cart-items td:after ,.is-large.wc-block-cart .wc-block-cart-items:after {
  border-color: transparent;
}
.wc-block-cart .wc-block-cart-items th,.wp-block-woocommerce-cart-order-summary-block .wc-block-cart__totals-title{
    padding: 10px !important;
}
.wc-block-cart table.wc-block-cart-items{
    margin: 0 !important;
}
.wc-block-checkout__form,.wc-block-cart-items__row,.wc-block-cart-items__header,.wp-block-woocommerce-checkout-order-summary-block,.wp-block-woocommerce-cart-order-summary-block,.is-large.wc-block-cart .wc-block-cart-items{
    border: 1px solid #ebebeb;
    opacity: 1;
}
.wc-block-components-totals-wrapper:after,.wc-block-components-order-summary-item:after{
    border-color: #ebebeb;
    opacity: ;
}
.wc-block-cart__submit-container a{
    margin-top: 15px;
}
.wc-block-checkout__actions_row a{
    color: #3B3B3B;
}
.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .wc-forward:hover{
  background: transparent;
  box-shadow: none;
}
.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .wc-forward{  
  box-shadow: none;
}
.wc-block-components-product-badge {
    border: 1px dotted #4a5f6d !important;
    padding: 5px !important;
    background: #dce3e8;
    color: #4a5f6d;
}
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button{
  background: #7e4c4f;
  color: #fff;
  padding: 11px;
}
.wp-block-woocommerce-cart.alignwide, .wp-block-woocommerce-checkout.alignwide.wc-block-checkout {
    margin-left: auto !important;
    margin-right: auto !important;
}
.wc-block-components-sidebar-layout .wc-block-components-main {
    padding-left: 0% !important;
}
/*--------------------------------------------------------------
Posts Numbers
--------------------------------------------------------------*/
.page-numbers {
  background: #7e4c4f;
  color: #fff;
  padding: 7px;
  font-weight: bold;
}
a.page-numbers:hover {
  color: #fff;
}
.prev.page-numbers,
.next.page-numbers {
  font-size: 15px;
  background: #7e4c4f;
  margin-bottom: 2px;
}
.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
  background-color: #3B3B3B;
  color: #fff;
}
.page-links {
  font-size: 14px;
  font-weight: 800;
  padding: 2em 0 3em;
}
.page-links .page-number {
  color: #3B3B3B;
  display: inline-block;
  padding: 0.5em 1em;
}
.page-links a {
  display: inline-block;
}
.page-links a .page-number {
  color: #3B3B3B;
}
.related-post-block .page-box{
  padding: 10px;
}
/* Post Navigation */
.post-navigation {
  font-weight: 500;
  margin: 3em 0;
}
.nav-subtitle {
  background: transparent;
  color: #3B3B3B;
  display: block;
  font-size: 11px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.nav-title {
  color: #333;
  font-size: 15px;
}
span.meta-nav {
  color: #fff;
  background: #7e4c4f;
  padding: 5px;
}
.nav-previous {
  float: left;
}

/*--------------------------------------------------------------
 404 page
--------------------------------------------------------------*/

.error-404 input[type="search"] {
  border: solid 1px #3B3B3B;
  padding: 10px;
}
.error-404 [type="submit"] {
  padding: 11px;
  background: #7e4c4f;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
}

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/

#theme-sidebar section {
  border: 3px solid #ebebeb;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  border-bottom: 3px solid #7e4c4f;
  border-left: 3px solid #7e4c4f;
  box-shadow: -3px 3px 0 0 #151515;
}
#theme-sidebar .wp-block-search .wp-block-search__label,#theme-sidebar h3, #theme-sidebar h1.wp-block-heading, #theme-sidebar h2.wp-block-heading, #theme-sidebar h3.wp-block-heading,#theme-sidebar h4.wp-block-heading, #theme-sidebar h5.wp-block-heading, #theme-sidebar h6.wp-block-heading {
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
  color: #7e4c4f;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 5px solid #f1f1f1;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#theme-sidebar .wp-block-search .wp-block-search__label:before,#theme-sidebar h3:before, #theme-sidebar h1.wp-block-heading:before, #theme-sidebar h2.wp-block-heading:before, #theme-sidebar h3.wp-block-heading:before,#theme-sidebar h4.wp-block-heading:before, #theme-sidebar h5.wp-block-heading:before, #theme-sidebar h6.wp-block-heading:before {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  margin: auto;
  background: #7e4c4f;
  width: 77px;
  height: 5px;
  bottom: -5px;
  border-radius: 0;
}
#footer li a:hover{
  color: #7e4c4f;
}
.wp-block-tag-cloud a:hover{
  border-color: #7e4c4f;
}
#theme-sidebar ul,#footer ul {
  list-style: none;
  padding: 0;
}
#theme-sidebar li:last-child {
  border: none;
}
#theme-sidebar li {
  border-bottom: 1px dashed #ebebeb;
  color: #3B3B3B;
  line-height: 20px;
  padding: 10px 0;
  font-size: 12px;
}
#theme-sidebar a:hover {
  color: #7e4c4f;
}
#theme-sidebar a, #theme-sidebar .wp-block-latest-comments__comment-author, #theme-sidebar .wp-block-latest-comments__comment-link  {
  color: #3B3B3B;
  font-size: 13px;
}
#footer .wp-block-latest-comments article,
#theme-sidebar .wp-block-latest-comments article {
    margin-bottom: 0em;
}
#footer .wp-block-latest-comments__comment-meta,
#theme-sidebar .wp-block-latest-comments__comment-meta {
    margin-bottom: 0px;
}
#footer ol.wp-block-latest-comments,
#theme-sidebar ol.wp-block-latest-comments{
  padding-inline-start: 0px;
}
#theme-sidebar .textwidget img{
  width: 100%;
  height: auto;
}
#theme-sidebar select {
  padding: 10px;
  border: solid 1px #ebebeb;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #3B3B3B;
}
#theme-sidebar .tagcloud a, #sidebar p.wp-block-tag-cloud a ,.post_tag a, #theme-sidebar .widget_tag_cloud a {
  border: 1px solid #ebebeb;
  color: #3B3B3B;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
#theme-sidebar .tagcloud a:hover,#sidebar p.wp-block-tag-cloud a:hover, .post_tag a:hover,#theme-sidebar .widget_tag_cloud a:hover{
  color:  #7e4c4f;
  border-color: #7e4c4f;
}
#theme-sidebar .tagcloud a:hover{
  color: #fff;
}
#theme-sidebar .tagcloud {
  margin-top: 15px;
}
#theme-sidebar input[type="search"],
#footer input[type="search"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
#footer .wp-block-search__inside-wrapper,
#theme-sidebar .wp-block-search__inside-wrapper{
  display: block;
}
#footer .wp-block-search__button,
#theme-sidebar .wp-block-search__button{
  margin-right: 0px;
}
#theme-sidebar button[type="submit"],
#footer button[type="submit"] {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  background: #7e4c4f;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
#theme-sidebar button[type="submit"]:hover, #footer button[type="submit"]:hover,#comments input[type="submit"]:hover,span.meta-nav:hover{
  background: #3b3b3b;
}
#theme-sidebar table#wp-calendar {
  border: solid 1px #ebebeb;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#footer.wp-block-calendar,
#theme-sidebar.wp-block-calendar{
  text-align: right;
}
#theme-sidebar th,#theme-sidebar td {
  border-left: solid 1px #ebebeb;
  padding: 10px 0;
}
#theme-sidebar tr {
  border-bottom: solid 1px #ebebeb;
}
.woocommerce #tp_content {
  margin-top: 30px;
}
#footer .wp-block-media-text,
#theme-sidebar .wp-block-media-text {
  box-sizing: border-box;
  direction: rtl;
  display: inline;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
}
#footer .wp-block-media-text {
  box-sizing: border-box;
  direction: rtl;
  display: inline;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
}
/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
#comments #respond,.related-post-block{
  border: 1px solid #ebebeb;
  padding: 20px;
}
#comments {
  clear: both;
  padding: 2em 0 0.5em;
}
.comments-title {
  font-size: 20px;
  margin-bottom: 1.5em;
}
.comment-list,
.comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li:before {
  display: none;
}
.comment-body {
  margin-right: 65px;
}
.comment-author {
  font-size: 16px;
  margin-bottom: 0.4em;
  position: relative;
  z-index: 2;
}
.comment-author .avatar {
  height: 50px;
  right: -65px;
  position: absolute;
  width: 50px;
}
.comment-author .says {
  display: none;
}
.comment-meta {
  margin-bottom: 1.5em;
}
.comment-metadata {
  color: #767676;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}
.comment-metadata a {
  color: #767676;
}
.comment-metadata a.comment-edit-link {
  color: #3B3B3B;
  margin-right: 1em;
}
.comment-body {
  color: #333;
  font-size: 14px;
  margin-bottom: 4em;
}
.comment-reply-link {
  font-weight: 800;
  position: relative;
}
.comment-reply-link .icon {
  color: #3B3B3B;
  right: -2em;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}
.children .comment-author .avatar {
  height: 30px;
  right: -45px;
  width: 30px;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #333;
  padding: 2px;
}
.no-comments,
.comment-awaiting-moderation {
  color: #767676;
  font-size: 14px;
  font-style: italic;
}
.comments-pagination {
  margin: 2em 0 3em;
}
.comment-form #wp-comment-cookies-consent {
  margin: 0 0 0 10px;
}
.comment-form .comment-form-cookies-consent label {
  display: inline;
}
#comments input[type="submit"] {
  background: #7e4c4f;
  border: none;
  padding: 10px 50px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  border-radius: 0;
}
input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"],input#url,
textarea{
  border:1px solid #c8c8c8;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
  border-radius: 5px;
}

/*--------------------------------------------------------------
Commen CSS
--------------------------------------------------------------*/

#primary {
  padding: 3% 0;
}
.sticky .page-box h4{
  background: url(assets/images/pin.png) no-repeat scroll 100% 0px;
  padding-right: 40px;
}
#gallery-1 img {
  border: 2px solid #3B3B3B !important;
}
#gallery-1 .gallery-item {
  width: 30% !important;
  margin: 4px;
}
iframe,
.entry-audio audio{
  width: 100%;
}
.site-info p, .site-info a {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.site-info a:hover {
  color: #000 !important;
}
.entry-video {
    width: 100%;
}
.entry-audio {
    width: 100%;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#footer {
  background: #3b3b3b;
  clear: both;
}
#footer h2,#footer h3,#footer h1.wp-block-heading, #footer h2.wp-block-heading, #footer h3.wp-block-heading,#footer h4.wp-block-heading, #footer h5.wp-block-heading, #footer h6.wp-block-heading {
  font-size: 20px;
  padding: 10px 0;
  color: #fff;
  border-bottom: dashed 1px #fff;
  margin-bottom: 10px;
}
#footer li a:hover{
  color: #7e4c4f;
}
#footer .wp-block-search .wp-block-search__label,#footer .wp-block-latest-comments__comment-date,#footer p,#footer li a,#footer .wp-block-latest-comments__comment-author, #footer .wp-block-latest-comments__comment-link {
  color: #fff;
}
#footer li {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}
#footer table#wp-calendar {
  border: dashed 1px #fff;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#footer th,#footer td {
  border-left: dashed 1px #fff;
  padding: 5px 0;
  color: #fff;
}
#footer tr {
  border-bottom: dashed 1px #fff;
  color: #fff;
}
#footer select {
  padding: 5px;
  width: 100%;
}
#footer .widget_rss img{
  width: auto;
}
#footer .widget_rss li{
  border-bottom: solid 2px #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#footer .textwidget {
  color: #fff;
}
#footer .tagcloud a,#footer p.wp-block-tag-cloud a {
  border: 1px dashed #fff;
  color: #fff;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover,#footer p.wp-block-tag-cloud a:hover{
  border: 1px dashed #7e4c4f;
  color: #7e4c4f;
}
.site-info {
  background: #7e4c4f;
  padding: 15px 0;
}
.site-info p{
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

/*--------------------------------------------------------------
Scroll Top
--------------------------------------------------------------*/

#return-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/*--------------------------------------------------------------
WordPress Core
--------------------------------------------------------------*/
.alignwide {
  margin-right : -80px;
  margin-left : -20px;
}
.alignfull {
  margin-right: -48px;
  width: calc(100% + 64px) !important;
  max-width: 100vw;
}
.alignfull img {
  width: 100vw;
}
.alignnone {
  margin: 5px 0 20px 20px;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:left;
  margin: 5px 20px 20px 0;
}
.alignleft {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignright {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignnone {
  margin: 5px 0 20px 20px;
}
a img.alignleft {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 0 20px 20px;
}
.wp-caption.alignleft {
  margin: 5px 0 20px 20px;
}
.wp-caption.alignright {
  margin: 5px 20px 20px 0;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 1000px){
  #slider .inner_carousel h2{
    font-size: 35px;
  }
  .toggle-nav {
    display: none;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
  }
  .toggle-nav i{
    background: #7e4c4f;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  .main-navigation .sub-menu {
    width: 100% !important;
  }
  .main-navigation .sub-menu li {
    opacity: 1 !important;
    display: block !important;
  }
  .main-navigation .sub-menu{
    opacity: 1;
  }
  .main-navigation ul ul li{
    border-bottom: none;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: #3b3b3b;
    transition: 0.5s width ease-in-out;
    padding-top: 60px;
    overflow-y: scroll;
  }
  .sidenav.open{
    visibility: visible;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    display: block;
    color: #ffffff;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer;
    text-align: left;
  }
  .toggle-nav{
    display: block;
    text-align: center;
  }
  .main-navigation a{
    color: #3B3B3B;
  }
  .main-navigation .menu{
    float: none;
    text-align: center;
  }
  .main-navigation ul ul li,
  #masthead.scrolled .main-navigation ul ul li{
    display: block;
  }
  .main-navigation .menu > ul > li.highlight{
    background: transparent !important;
  }
  .menu > ul > li:hover:before,
  .menu > ul > li.current_page_item:before,
  .menu > ul > li.current-menu-item:before{
    display: none;
  }
  .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a{
    color: #fff;
  }
  .sf-arrows .sf-with-ul:after{
    border-top-color: #333;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .menubar .nav ul{
    width:100%;
    margin-top:0;
  }
  .menubar .nav ul li,
  .menubar.scrolled .main-navigation li{
    border-top:1px #3a3a3a solid;
    display:block;
    text-align:right;
    float:none;
    width: 100%;
  }
  .nav ul li a{
    padding: 10px;
    display: block;
    color: #ffffff;
  }
  .nav ul li ul,
  .nav ul li ul ul{
    opacity: 1;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
  padding-right:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-right:30px !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .main-navigation li{
    padding: 0;
    display: block;
  }
  .scrolled{
    position: static;
  }
  .stick_head {
    position: static;
  }
.innermenuboxupper.login-user.stick_head {
    margin-top: 0px;
  }
.box-image img{
    padding-bottom: 10px;
  }
.nav-links {
    padding-bottom: 21px;
  }
  .main-navigation li.page_item_has_children:after,
  .main-navigation li.menu-item-has-children:after{
    display: none;
  }
  .main-navigation ul ul a{
    background: transparent !important;
  }
  .main-navigation a, .main-navigation li.page_item_has_children:after, .main-navigation li.menu-item-has-children:after{
    font-size: 15px !important;
  }
}
@media screen and (max-width: 575px){
  .full .page-box{
    margin: 30px 10px;
  }
}
@media screen and (max-width: 575px){
  .more-btn,#slider .inner_carousel h2,.top-header,#footer,.content-area,.headerbox, .top-header p, .dropdown, .cat-border {
      text-align: center;
  }
 #slider img{
  height: 300px;
 }

#product .more-btn {
  margin-top: 30px;
}
.topbar{
  padding: 25px;
}
button.category-btn {
  margin-top: 20px;
}
.header-details span {
  margin: 0px 14px;
}
#slider .inner_carousel h2{
  font-size: 20px;
}
#slider .carousel-control-next {
  left: 0;
  right: auto;
  bottom: 0;
}
#slider .carousel-control-prev{
  left: auto;
  bottom: 0;
}
.headerbox a{
  padding: 1px;
  font-weight: 500;
  font-size: 16px;
}
p.cart-value.simplep{
  right: 76%;
}
#slider p, #slider h6{
  display: none;
}
#slider .more-btn{
  margin-top: 20px;
}
.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product{
  width: 100%;
}
#return-to-top i{
  left: 0;
}
.rtl-cl{
  text-align: center;
}
.product-search button{
  top: 30px;
}
.page-numbers{
  font-size: 10px;
}
a.next.page-numbers{
  font-size: 10px;
}
.header-details {
  gap: 0px;
  margin-top: 25px;
  justify-content: center;
}
.topbar span {
    margin-top: 10px;
}
.topbar span{
  margin: 0px 0px;
}
#slider .carousel-caption{
  text-align: center !important;
  right: 15% !important;
  left: 15% !important;
}
.translate-btn{
  position: static;
}
span.cart-value.simplep{
  right: 0;
}
#product .owl-nav {
  display: none;
}
}

@media screen and (min-width: 561px) and (max-width: 767px){
  .translate-btn{
    position: static;
  }
  .currency,.translate-btn,#google_language_translator, #flags{
    text-align: center !important;
  }
  .header-details{
    justify-content: center;
    margin-top: 18px;
  }
  span.currency {
    display: block;
  }
  .product-search button {
    left: 0px;
    top: 25px;
  }
  #slider .carousel-control-prev {
    left: 10%;
  }
  #slider .carousel-control-next {
    left: 40%;
  }
  .rtl-cl{
    text-align: center;
  }

}
@media screen and (min-width: 768px) and (max-width: 1000px){
#product .product-image, .product-content{
  text-align: center;
  }
#product .more-btn {
  margin-top: 5%;
  }
#slider .carousel-control-next {
  left: 31%;
 }
 span.cart-value.simplep{
  top: 0px;
 }
 .product-search button {
    left: 0px;
    top: 10px;
}
.heading-det {
    margin-top: 30px;
}
#product .owl-nav {
  top: -18%;
}
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
#slider .inner_carousel h2 {
  font-size: 45px;
  }
  #slider .carousel-control-next{
    left: 50%;
  }
}

@media screen and (max-width: 768px){ 
 p.cart-value.simplep{
  right: 94%;
 }
}
@media screen and (max-width: 560px){
  p.cart-value.simplep{
  right: 80%;
 }
 #google_language_translator, #flags{
  text-align: center !important;
 }

}
@media screen and (max-width: 1200px){
    .wc-block-components-totals-wrapper,.is-medium table.wc-block-cart-items .wc-block-cart-items__row, .is-mobile table.wc-block-cart-items .wc-block-cart-items__row, .is-small table.wc-block-cart-items .wc-block-cart-items__row {
        padding: 16px 10px !important;
    }
    .wc-block-cart table.wc-block-cart-items{
        margin: 0 0 2em !important  ;
    }
}
